body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    margin: 0;
    font-size: 30px;
    padding: 0;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

main {
    padding: 15px;
    margin-left: 15px;
}

main h2 {
    font-size: 65px;
    margin-bottom: 20px;
    margin-top: 20px;
}

header {
    background-image: url("images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 75px;     
    color: black;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;          
}


.logo {
    width: 120px;         
    height: auto;
}


header h1 {
    font-size: 130px;     
    margin: 0;
    text-shadow: 0 3px 6px rgb(26, 25, 25);
}

nav {
    background-color: rgb(60, 60, 60);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 15px 70px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #0077aa;
}


.info-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 1750px;
    margin:  0 auto;       
}

.destination-box {
    background-color: white;
    padding: 25px;
    margin: 25px auto;
    border-radius: 10px;
}


.destination-box h3,
.destination-box h4,
.destination-box h5 {
    
    margin-bottom: 15px;
    font-size: 40px; 
}

    .testimonials {
    max-width: 1500px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.testimonial-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex: 1;
}

.testimonial-box .quote {
    font-style: italic;
    margin-bottom: 10px;
    line-height: 1.4;
}

.testimonial-box .author {
    text-align: right;
    font-weight: bold;
    color: black;
}

footer {
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.photo-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 1px;
}

.photo-row img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
.intro-text {
    margin: 20px 40px;
    font-size: 30px;
    line-height: 1.7;
}

.section-text {
    margin: 20px 40px;
    font-size: 30px;
    line-height: 1.7;
}

.section-box {
    background-color: white;
    padding: 32px;
    margin: 25px 
    max-width: 1100px;
}

.section-box h2 {
    margin-top: 0;
    font-size: 40px;
    margin-bottom: 10px;
}

.section-box .section-text {
    font-size: 30px;
    line-height: 1.7;
    text-align: left;
    margin: 0;
}
