body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
}

main {
    padding: 15px;
}

header {
    background-color: rgb(141, 139, 143);
    color: white;
    padding: 25px;
    text-align: center;
}

nav {
    background-color: rgb(90, 88, 88);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0;
}

nav a {
    display: block;
    padding: 15px 70px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: #0077aa;
}

footer {
    background-color: rgb(141, 139, 143);
    color: white;
    text-align: center;
    padding: 2px;
    margin-top: 15px;
}